<section data-ng-controller="HomeController">
	<div class="container">
		<div class="row">
			<div id="00001" class="post col-md-12">
				<a href="#" class="postlink"></a>
				<span class="title">Sample post</span>
				<p>This is a random post</p>
			</div>
			<div class="clearfix"></div>
			<div class="trapezoid col-md-12"></div>
			<div class="comment-container">
				<span class="comment-list-header">12 Comments</span>
				<div class="comment-body">
					<span class="userid">Anonymous</span>
					<span class="time-stamp">2014-07-17 11:45AM</span>
					<p>Comment 1</p>
				</div>
				<div class="comment-body">
					<span class="userid">Anonymous</span>
					<span class="time-stamp">2014-07-17 11:45AM</span>
					<p>Comment 2</p>
				</div>
				<div class="comment-box">
					<span class="comment-box-header">Leave a comment</span>
					<textarea class="form-control" rows="3"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="00002" class="post col-md-12">
				<a href="#" class="postlink"></a>
				<span class="title">Sample post</span>
			</div>
		</div>

		<div class="text-center">
			<ul class="pagination">
				<li><a href="#">&laquo;</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">&raquo;</a></li>
			</ul>
		</div>
	</div>
<script>
$(document).ready(function() {
	$('a.postlink').click(function() {
		alert("Alert");
	});
});
</script>
</section>