.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.form-control {
	border-radius: 0px;
}

.btn-default {
	border-radius: 0px;
}

.post {
	padding: 40px 80px;
	background: #e5e5e5;
	margin-top: 20px;
}

.post p {
	padding-top: 10px;
	font-size: 1.5em;
}

.postlink {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.title {
	font-size: 2.5em;
	font-weight: bold;
}

.comment-container {
	padding: 40px;
	margin: auto 50px;
	-webkit-box-shadow: 0 0 10px #c6c6c6;
        box-shadow: 0 0 10px #c6c6c6;
}

.trapezoid {
	height: 0;
   	border-top: 30px solid #c6c6c6;
   	border-left: 50px solid transparent;
   	border-right: 50px solid transparent;
}

.comment-list-header {
	display: block;
	padding: 30px 20px;
	font-size: 4em;
	color: #;
}

hr {
	background: #ff6600;
}

.comment-body {
	background: #e5e5e5;
	margin: 20px 5px;
	display: block;
	padding: 20px 40px;
}

.comment-body p {
	padding: 20px;
	font-size: 1.5em;
}

.userid {
	font-size: 1.7em;
	font-weight: bold;
}

.time-stamp {
	font-size: 1.2em;
	margin-left: 10px;
}

.comment-box {

}

.comment-box-header {
	display: block;
	padding: 30px 20px;
	font-size: 3em;
}

.comment-button {
	background: ;
}