.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: url("http://subtlepatterns.com/patterns/pw_maze_white.png") repeat scroll 0% 0% transparent;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid #575757;
}

.glyphicon {
	font-size: 1.2em;
}

.comment-info {
	margin-left: 5px;
	font-size: 1.3em;
	font-weight: lighter;
}

.form-control {
	border-radius: 0;
}

.btn-default {
	border-radius: 0;
}

.post {
	padding: 40px 80px;
	background: #e5e5e5;
	margin-top: 20px;
}

.post p {
	padding-bottom: 10px;
	font-size: 1.5em;
}

.postlink {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.title {
	font-size: 2.5em;
	font-weight: bold;
}

.comment-container {
	padding: 40px;
	margin: auto 50px;
	-moz-box-shadow: 0 0 10px #c6c6c6;
	-webkit-box-shadow: 0 0 10px #c6c6c6;
        box-shadow: 0 0 10px #c6c6c6;
        background-color: #fff;
}

.trapezoid {
	height: 0;
   	border-top: 30px solid #c6c6c6;
   	border-left: 50px solid transparent;
   	border-right: 50px solid transparent;
}

.comment-list-header {
	display: block;
	padding: 30px 20px;
	font-size: 4em;
}

.nothing-here {
	margin: 50px;
	font-size: 2em;
	font-weight: lighter;
	text-align: center;
	font-style: italic;
}

.comment-body {
	background: #e5e5e5;
	margin: 20px 5px;
	display: block;
	padding: 20px 40px;
}

.comment-body p {
	padding: 20px;
	font-size: 1.5em;
}

.userid {
	font-size: 1.7em;
	font-weight: bold;
}

.time-stamp {
	font-size: 1.2em;
	margin-left: 10px;
}

.comment-box-header {
	display: block;
	padding: 30px 20px;
	font-size: 3em;
}